/* Write your CSS here */
.options-container {
  display: flex;
  align-items: center;
}
.dropdown {
  height: 30px;
}
.app-container {
  background-color: #93c5fd;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.selection-container {
  background-color: white;
  border-radius: 12px;
  padding: 25px;
}
.dropdown {
  margin-right: 10px;
  font-weight: bold;
  width: 120px;
  padding: 0 10px 0 5px;
}
.countryName {
  color: #1e293b;
}
p {
  color: #323f4b;
}
